*{
    font-family: "Playfair Display", serif;
    letter-spacing: 1.5px;
}

.header{
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 2;
   
}
.header__inner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 0;

}
.header__title{
    color: #FFFFFF;
    font-size: 25px;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}
.logo__inner{
    display: flex;
    
}
.menu__list{
    display: flex;
}
.menu__link{
    padding-right: 20px;
}
 .user-nav__link path{
    fill: #FFFFFF;
} 
.user-nav__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-nav__link{
    padding-bottom: 10px;
}
.user-nav__social{
    display: flex;
    justify-content: space-between; 
}


@media (max-width: 850px){
    .menu__list{
        display: none;
    }
}
@media (max-width: 450px){
    .header__inner{
        padding: 0;
    }
    .user-nav{
       padding: 0; 
    }

    .logo img {
        width: 24px;
    }

    .header__title{
        font-size: 18px;
    }

}
.main{
    background-color: #c9c1c1;
}
.headline{
   
    display: flex;
    justify-content: space-between;

    
}
.headline-text{
    width: 40%;
}
.headline-image{
    width: 40%;
}
.headline-text{
    padding-top: 70px;
}
.title{
    text-transform: uppercase;
    padding: 35px 0;
}
.headline-btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffff;
    background-color:#000;
    padding: 30px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (max-width: 1100px){
.headline-img{
    max-width: 100%;
}
}
@media (max-width: 990px){
.headline{
    align-items: center;
}
}
@media (max-width: 896px){
.headline-btn{
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
}    
.headline-text{
    padding-top: 10px;
}
}
@media (max-width: 780px){
.title{
    margin: 0;
    padding: 0;
}
.headline-btn{
    margin: 50px 0 25px;
}
}
@media (max-width: 663px){
.headline-btn{
    font-size: 12px;
    padding: 5px 7px;
}   
.title{
    font-size: 24px;
}
.headline-text{
    font-size: 14px;
}
}
@media (max-width: 455px){
.title{
    font-size: 18px;
}  
.headline-text{
    font-size: 12px;
    width: 58%;
}
.headline-btn{
    font-size: 12px;
    padding: 5px 7px;
}  
}
.doctor-anhelina{
   padding: 70px 0 50px; 
   color: #FFFFFF;
   background-color: #000;
}
.doctor-title{
   margin: 0 0 70px;
   text-transform: uppercase;
   text-align: center;
}
.anhelina{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    text-align: center; 
    padding-left: 0;
}
.doctor-item{
    width: 50%;
}
.about{
    width: 50%;
    text-align: left;
}

.doctor-nasty{
    padding: 70px 0 50px; 
    color: #000;
    background-color: #c9c1c1;
 }
.nasty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center; 
    padding-left: 0;
}
@media (max-width: 900px){ 
    .doctor-img{
        max-width: 60%;
    }
}
@media (max-width: 530px){
.about{
    font-size: 12px;
}

.doctor-title{
    font-size: 20px;
    margin-bottom: 35px;
}
.doctor-anhelina,.doctor-nasty{
    padding: 35px 0 25px;
}
.doctor-item{
    font-size: 12px; 
}
}
@media (max-width: 480px){
    .about{
        font-size: 10px;
    }
    .doctor-img{
        max-width: 50%;
    }
    .doctor-item{
        font-size: 10px;
    }
    .nasty{
        margin: 0;
        padding: 0;
    }
}

 .accordeon{ 
    background-color: #000;
    color: #FFFFFF
}
.accordeon__item{
  border-bottom: 1px solid #FFFFFF;  
  padding: 20px 100px 0px 0px;
  position: relative;
}
.accordeon__item::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 35px;
    background-image: url('../images/arrow-down.svg');
    right: 85px;
    top: 35px;
}
.accordeon__triger{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.accordeon__triger-title{
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 20px;
}
.accordeon__content{
    padding-top: 20px;
    display: none;
}   
.accordeon__item--active .accordeon__content{
    display: flex;
    justify-content: space-between;
}
